@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gabarito", cursive;
}

.dashboard {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
  background-color: white;
  padding: 17px;
}

.dataArea {
  border-radius: 6px;
  min-width: 79%;
  max-width: 100vw;
  height: 100%;
  background: #f8f9fd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.textEditArea {
  min-height: 20%;
  max-height: 30%;
  border-radius: 10px;
}
.textEditorBox {
  background: #eef1fa;
  height: 80%;
  overflow-y: scroll;
}
.textEditorMenu {
  padding: 10px 0;
  gap: 20px; 
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.aceEditor {
  height: 95%;
  width: 100%;
  background-color: "transparent";
}

.ace_editor,
.ace_editor div {
  font-family: monospace;
}

.auth-dataArea {
  border-radius: 6px;
  width: 48%;
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.previewQuery{
  padding: 20px;
  font-size: 1.4rem;
  border-radius: 10px;
  border: 2px solid black;
  white-space: pre-wrap;
}