.custom-scrollbar::-webkit-scrollbar {
  width: 7px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #686868; /* Color of the thumb */
  border-radius: 6px; /* Rounded corners of the thumb */
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #353535; /* Color of the thumb on hover */
}

/* Track styles when not hovering over it */
.custom-scrollbar::-webkit-scrollbar-track {
  display: none;
}

/* Handle on the top & bottom of the track */
.custom-scrollbar::-webkit-scrollbar-corner {
    display: none;
  background: #f1f1f1; /* Color of the corners */
}
