.recentQueries {
  padding: 20px 20px;
}

.sidePanel {
  width: 20%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(10deg, #f7efff 0%, #f0f7ff 100%);
  display: flex;
  flex-direction: column;
}

.recentQueriesTitle h2 {
  color: rgb(0, 0, 0);
}

.recentQueriesTitle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
}

.recentQueriesList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.recentQuery {
  position: relative;
  background-color: white;
  padding: 0 15px 10px 15px;
  border-radius: 5px;
  border: 3px solid white;
  min-height: 5rem;
  max-height: 7rem;
  overflow-y: scroll;
}

.recentQuery:hover {
  cursor: pointer;
  border: 3px solid rgba(0, 0, 0, 0.249);
  transition: all 0.2s ease-in-out;
}

.recentQueryList {
  overflow-y: scroll;
  height: 100%;
}

.menuOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.recentQuery p {
  color: rgb(0, 0, 0);
}

.recentQueryItemMenu {
  padding: 5px 0;
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
}

.timeDisplay {
  color: rgb(153, 153, 153);
  font-size: 1rem;
  font-weight: 500;
}

.auth-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.auth-content h1 {
  font-size: 4rem;
  font-weight: 700;
  color: rgb(32, 32, 32);
  margin-bottom: 20px;
}

.auth-preview-content h1 {
  font-size: 2rem;
  font-weight: 700;
  color: rgb(32, 32, 32);
  margin-bottom: 20px;
}


.auth-content h4 {
  font-size: 2rem;
  font-weight: 700;
  color: rgb(80, 80, 80);
  margin-bottom: 10px;
}

.auth-preview-content h4 {
  font-size: 1.6rem;
  font-weight: 700;
  color: rgb(80, 80, 80);
  margin-bottom: 10px;
}
.auth-content p {
  font-size: 1rem;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.623);
  text-decoration: wavy;
  width: 80%;
}

.auth-sidePanel {
  padding: 150px 50px 50px 50px;
  width: 50%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(
    10deg,
    #e6ccff 0%,
    #f8efe4cc 28.13%,
    #edfff190 60.42%,
    #d6e8ff 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
}

.auth-preview-sidePanel {
  padding: 100px 50px 50px 30px;
  width: 20%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(
    10deg,
    #e6ccff 0%,
    #f8efe4cc 28.13%,
    #edfff190 60.42%,
    #d6e8ff 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
}

.logoutPanel{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 20px 30px;
}